@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --green: #2C7865;
    --orange: #FF9800;
    --light-green: #90D26D;
    --cream-green: #D9EDBF;
  }

  body {
    @apply font-sans;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
