package components

import (
    "strconv"
)

templ CategoryItem(id int64, category, imgPath string) {
    {{ idStr := strconv.Itoa(int(id)) }}
    <a href={ templ.URL("/category/" + idStr) } class="w-40 text-center font-bold cursor-pointer">
        <img src={imgPath} class="w-40 aspect-square" />
        <span class="hover:underline">{category}</span>
    </a>
}
