package components

templ CategoryItem(category, img string) {
    <div class="w-40 text-center font-bold cursor-pointer hover:underline">
        <img src={img} class="w-40 aspect-square" />
        <span class="">{category}</span>
    </div>
}
